{% extends "base.html" %}
{% load static %}
{% block content %}
    <br/>
    <br/>
    <br/>
<!-- gray bg -->
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<!-- Nav tabs -->
				<div class="tm-home-box-1">
					<ul class="nav nav-tabs tm-white-bg" role="tablist" id="hotelCarTabs">
					    <li role="presentation" class="active">
					    	<a href="#hotel" aria-controls="hotel" role="tab" data-toggle="tab">Application Form</a>
					    </li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
                        <br/>
                        {% if reg_validity %}

					    <div role="tabpanel" class="tab-pane fade in active tm-white-bg" id="hotel">
					    	<div class="tm-search-box effect2">
								<form action="{% url 'apply' %}" method="post" class="hotel-search-form">
									 {% csrf_token %}
                                    <div class="tm-form-inner">
                                        <div class="row">
                                            <div hidden class="col-6 form-group">
                                                <div class='input-group' id=''>
                                                    <input name="reg_number" id="reg_number" type='text' class="uc-text-smooth form-control" placeholder="VRN" value="{{ v_reg }}"/>
                                                    <input name="province" id="province" type='text' class="uc-text-smooth form-control" placeholder="Province" value="{{ prvn }}"/>
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-car"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-6 form-group">
                                                <div class='input-group' id=''>
                                                    <input readonly type='text' class="uc-text-smooth form-control" placeholder="" value="{{ v_reg }} - {{ status }}" />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-car"></span>
                                                        <span class="fa fa-thumbs-o-up"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
							                <div class='input-group' id=''>
							                    <input name="nat_id" id="nat_id" type='text' class="uc-text-smooth form-control" placeholder="National ID" />
							                    <span class="input-group-addon">
							                        <span class="fa fa-sort-numeric-asc"></span>
							                    </span>
							                </div>
							            </div>
                                        <div class="form-group">
							                <div class='input-group' id=''>
							                    <input name="first_name" id="first_name" type='text' class="uc-text-smooth form-control" placeholder="First Name" />
							                    <span class="input-group-addon">
							                        <span class="fa fa-user"></span>
							                    </span>
							                </div>
							            </div>
                                        <div class="form-group">
							                <div class='input-group' id=''>
							                    <input name="last_name" id="last_name" type='text' class="uc-text-smooth form-control" placeholder="Last Name" />
							                    <span class="input-group-addon">
							                        <span class="fa fa-user-plus"></span>
							                    </span>
							                </div>
							            </div>
                                        <div class="form-group">
							                <div class='input-group' id=''>
                                                <select name="gender" id="gender" type='text' class="uc-text-smooth form-control" placeholder="Gender">
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                </select>
							                    <span class="input-group-addon">
							                        <span class="fa fa-intersex"></span>
							                    </span>
							                </div>
							            </div>
                                        <div class="form-group">
							                <div class='input-group' id=''>
                                                <input name="email" id="email" type='email' class="uc-text-smooth form-control" placeholder="Email" />
							                    <span class="input-group-addon">
							                        <span class="fa fa-envelope"></span>
							                    </span>
							                </div>
							            </div>
                                        <div class="form-group">
							                <div class='input-group' id=''>
                                                <input name="phone" id="phone" type='number' class="uc-text-smooth form-control" placeholder="Mobile Number" />
							                    <span class="input-group-addon">
							                        <span class="fa fa-phone"></span>
							                    </span>
							                </div>
							            </div>
                                        <div class="form-group">
							                <div class='input-group'>
                                                <textarea name="address" id="address" type='number' class="uc-text-smooth form-control" ></textarea>
							                    <span class="input-group-addon">
							                        <span class="fa fa-location-arrow"></span>
							                    </span>
							                </div>
							            </div>

									</div>
						            <div class="form-group tm-yellow-gradient-bg text-center">
                                        <button type="submit" class="btn tm-yellow-btn">Apply Now</button>
						            </div>
								</form>
							</div>
					    </div>
                        {% else %}
                             <div role="tabpanel" class="tab-pane fade in active tm-white-bg" id="hotel">
					    	<div class="tm-search-box effect2"><hr/>
                                <p class="text-center text-danger">Reg Number does not Qualify<br/> Thank you!!!</p>
                                    <div class="tm-form-inner">
                                        <div class="row">
                                            <div class="col-6 form-group">
                                                <div class='input-group' id=''>
                                                    <input readonly type='text' class="text-danger form-control" placeholder="" value="{{ v_reg }} - {{ status }}" />
                                                    <span class="input-group-addon text-danger">
                                                        <span class="fa fa-car"></span>
                                                        <span class="fa fa-thumbs-o-down"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
									</div>
						            <div class="form-group tm-yellow-gradient-bg text-center">
                                        <a href="/" class="btn tm-yellow-btn">Ts & Cs</a>
						            </div>
							</div>
					    </div>
                        {% endif %}

					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
